<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather app - about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Bhupinder Bhattarai (just to test server side scripting skills). This site is simply made to fetch weather of any place, you wanted to know!!</p>
        <img class="portrait" src="./img/me.jpg" alt="robot">
    </div>
    {{>footer}}
</body>
</html>